html {
  box-sizing: border-box;
  font-size: 100%;
}
body {
  text-align: center;
  min-height: 100vh;
  font-family: poppins, Helvetica, sans-serif;
  width: 100%;
  margin: auto;
}
/* Heading */
.heading {
  background-color: #fff;
}
.logo {
  width: 80px;
  margin-top: 10px;
}
.title {
  font-size: 1rem;
  margin-top: 0px;
}

/* Featured posts */
.featured {
  background-color: #f3f3f3;
  border-radius: 15px;
  width: 97%;
  max-width: 600px;
  margin: auto;
  padding: 0px 5px 10px 5px;
}
.featured h1 {
  font-size: 1.2rem;
  padding-top: 10px;
  padding-bottom: 0px;
}
.feature-link {
  display: block;
  max-width: 400px;
  text-decoration: none;
  padding: 10px 10px 12px;
  color: #fff;
  background-color: #2962ff;
  border-radius: 15px;
  margin: 0px auto 12px auto;
}

/* Other Links */
.imp-links h1 {
  font-size: 1.1rem;
  margin-bottom: 4px;
  margin-top: 20px;
}
.links {
  padding: 12px 5px 10px 5px;
  background-color: #f5f5f5;
  width: 97%;
  max-width: 600px;
  margin: 0px auto 100px auto;
  border-radius: 15px;
}
.links a {
  padding-right: 10px;
  padding-left: 10px;
  display: block;
  max-width: 400px;
  text-decoration: none;
  padding: 10px 12px;
  color: #fff;
  background-color: #003049;
  border-radius: 15px;
  margin: 0px auto 12px auto;
}
